
<footer class="footer">
    <div class="container">
        <p>&copy; 2023 Git Guardians. All rights reserved.</p>
    </div>
</footer>


<style>

.footer {
    background-color: black;
    color: white;
    padding: 20px 0;
}

/* Add this style to fix the footer at the bottom of the page */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}
</style>