<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <% if (user) { %>
             <a href="/hotel/index" class="navbar-brand"><img src="\uploads\git-guardians-logo.png" alt="Logo" class="logo-img"></a>
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="/hotel/index">Home</a>
                  </li>
                  <li class="nav-item">
                  <a class="nav-link" href="/roomType/index">Rooms</a>
                  </li>
                  <li class="nav-item">
                  <a class="nav-link" href="/user/detail?id=<%=  user._id %>"><%= user.name %></a>
                  </li>
                  <li class="nav-item">
                <img src="<%= user.avatar %>" alt="User Avatar" class="avatar">
                </li>
                <li class="nav-item">
                 <a class="nav-link" href="/logout">Logout</a>  
                 </li>          
            <!-- Add more navigation links as needed -->
        <% } else { %>
            <!-- Add links for non-logged-in users if needed -->
            <a href="/hotel/index" class="navbar-brand"><img src="\uploads\git-guardians-logo.png" alt="Logo" class="logo-img"></a> 
             <a href="/auth/google" class="nav-item">Login</a> 
            
        <% } %>
</nav>