<h1>Add Room</h1>


<form method="POST" action="/rooms/add">
    
    <div>
      <label>Room Number</label>
      <input type="number" name="roomNum" class="form-control" />
    </div>
    <div>
      <label>Room Type</label>
      <select name="RoomType" class="form-control">
          <%roomTypes.forEach(function(RoomType){%>
              <option value="<%= RoomType._id %>"><%= RoomType.type %></option>        
          <% }) %>
      </select>
  </div>
    <button type="submit"  class="btn btn-secondary btn-lg">Add New Room</button>

  </form>