<div class="form_content">
<h1>Room Detail</h1>
<br>
<h2>Room Number: <%= rooms.roomNum%></h2>
<h3>Type: <%= rooms.RoomType.type %></h3>
<h3>Description: <%= rooms.RoomType.description %></h3>
<h3>Price: <%= rooms.RoomType.roomPrice %></h3>
</div>

</div>
</div>