<div class="roomsCon">
<div class="background02">
<div ><%= rooms.roomNum%></div>
<div>Type: <%= rooms.RoomType.type %></div>
<div>Type: <%= rooms.RoomType.description %></div>
<div >Type: <%= rooms.RoomType.roomPrice %></div>

</div>
</div>