<h1>Edit Room</h1>
<form method="POST" action="/rooms/update">
    <div>
      <label>Room Number</label>
      <input type="number" name="roomNum" class="form-control" value="<%= rooms.roomNum %>">
    </div>
    <div>
      <label>Room Type</label>
      <select name="RoomType" class="form-control" id="mySelect">
          <%roomTypes.forEach(function(RoomType){%>
            <%if(rooms.RoomType._id == RoomType._id){document.querySelector("option").setAttribute('selected', 'selected')}else{console.log(RoomType._id);}%>
              <option value="<%= RoomType._id %>"><%= RoomType.type %></option>        
          <% }) %>
      </select>
  </div>
  <input type="hidden" name="id" value="<%= rooms._id %>">
    <button type="submit"  class="btn btn-secondary btn-lg">Add New Room</button>

  </form>