<h1>Room List</h1>

<table class="table table-striped">
<tr>
<th>Room Number</th>
<th>Delete</th>
<th>Edit</th>
</tr>

<% rooms.forEach(room => { %><tr>
    <td><a href="/rooms/detail?id=<%= room._id %>"><%= room.roomNum %></a></td>
      <td><a href="/rooms/delete?id=<%= room._id %>">Delete</a></td>
    <td><a href="/rooms/edit?id=<%= room._id %>">Edit</a></td>

  </tr>
<% }); %>


</table>