<div class="roomsIndexLogo">
  <img class="logos" src="/uploads/Screenshot (4).png">
  </div>


<div class="roomsIndexPage">
  <div class="roomsIndexPageCon">
<h1 class="roomsIndexH1">Room List</h1>

<div class="roomsIndexTable">
<table class="table table-striped">
<tr>
<th>Room Number</th>
<th>Delete</th>
<th>Edit</th>
</tr>

<% rooms.forEach(room => { %><tr>
    <td><a href="/rooms/detail?id=<%= room._id %>"><%= room.roomNum %></a></td>
      <td><a href="/rooms/delete?id=<%= room._id %>">Delete</a></td>
    <td><a href="/rooms/edit?id=<%= room._id %>">Edit</a></td>

  </tr>
<% }); %>


</table>
</div>
</div>
</div>