.footer {
    background-color: black;
    color: white;
    padding: 10px 0;
    position: fixed ;
    bottom: 0;
    width: 100%;
}
.home_table{
    width: 100%;
}
.home_td{
    margin: 70px;
}
.nav{
    background-color:#5fabb4 ;
}
.hotel{
    height: 80vh;
    background: linear-gradient(0deg, rgba(83, 164, 153, 0.514), rgba(79, 171, 159, 0.548)), url("/asset/images/modern-luxury-hotel-office-reception-lounge-with-meeting-room.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
.hero{
    height: 80vh;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    flex-direction: column;
    gap: 20px;
}
.hero a{
    font-size: 1.5vw;
}
.hero h1{
    font-size: 4vw;
}
.nav-link{
    color: white;
}
.hotel_info{
    height: auto;
    padding: 20px;
    background-color: #5fabb4;
}
.hotel_info h3{
    font-size: 1.2vw;
    color: black;
}
.nav .logo-img {
    height: 50px;
    width: auto;
}

 
    nav .avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

.form_content{
    width:60%;
    margin: 50px auto;
}
/* .hotel-info{
        
    margin-top: 20px;
    text-align: center;
    }

    nav {
        display: flex;
        justify-content: space-around;
        
        padding: 10px;
        background-color: lightgray;
        color: white;
    }

    nav .logo-link {
    margin-right: 1250px; /* Make sure to add units (px, em, etc.) 
    
} */




/*

    ul {
        list-style-type: none;
        display: flex;
        gap: 10px;
        margin: 0;
        padding: 0;
        margin-left: auto; /* Pushes the links to the right 
    } */
/* End of the page */

/* user add page */
.userAddPageCon{
    font-family: Arial, sans-serif;
    padding: 20px 20px;
    display: grid;
    background-image: url("../uploads/66440.jpg");

}
.userAddPage{
    color: aliceblue;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-size: cover;
    text-align: center;

}
.logoCon {
    float: left;
    margin: 20px;
}
.addPageForm{
    margin: 30px;
    color: black;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.9;
    text-align: left;
    padding: 50px;
    border-radius: 30px;
    width: auto;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 63px 109px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.logos {
    max-width: 100px; 
    max-height: 100px; 
}


/* End of the page */




/* User index page  */
.userIndex{
    font-family: Arial, sans-serif;
    height: 151px;
    width: auto;
    text-align: center;
}

.userH1{
padding: 20px; 
color: black;
}
.userIndexPage{
    color: aliceblue;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-size: cover;
}

.logos{
    width: fit-content;
    height: 105px;
}

.userIndexPageCon{
padding: 20px 20px;
display: grid;
 background-image: url("../uploads/66440.jpg");

  
}

/* table{
    width: max-content;

}
.btn{

} */

/* End of the page  */





/* user details  page  */

.userDetailPageCon{
font-family: Arial, sans-serif;
height: 100vh;
background-image: url("../uploads/66440.jpg");
margin: 0;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background-color: #f4f4f4;
}
.userDetailPage{
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr;
border: 1px solid black;
opacity: 0.9;
text-align: left;
padding: 50px;
border-radius: 30px;
width: auto;
background-color: rgba(255, 255, 255, 0.5);
padding: 63px 109px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.avatar{
    float: right;
}

.avatar img{
width: 100px;
height: 100px; 
border-radius: 50%;
}






/* End of the page  */



/* user Edit page  */
/* body {
    font-family: Arial, sans-serif;
} */

/* .userEditPageCon {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("../uploads/66440.jpg");
}

.userPageInfo {
    margin-right: 100px;
    width: 400px;

}
.background0{
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr;
border: 1px solid black;
opacity: 0.9;
text-align: left;
padding: 50px;
border-radius: 30px;
width: auto;
background-color: rgba(255, 255, 255, 0.5);
padding: 63px 109px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.inputs {
    display: flex;
    flex-direction: column;
    padding-top: 53px;
}

.inputs > div {
    margin-bottom: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], select, input[type="file"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
} */

/* End of the page  */



/* rooms index page  */

/* .roomsIndexLogo{
    height: 151px;
    width: auto;
    background-color: #ababab;
}
.roomsIndexPage{
    font-family: Arial, sans-serif;
    background-image: url("../uploads/66440.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.roomsIndexH1{
    
    
}
.roomsIndexTable{
width: 600px;

}
.roomsIndexPageCon{
    background-color: white; 
    padding: 20px;
    text-align: center;
    border-radius: 10px;
} */



/* End of the page  */


/* RoomType Index page  */

/* 
.roomTypeIndex {
    height: 100vh;
    margin: 0;
    background-image: url("../uploads/66440.jpg");
    font-family: Arial, sans-serif;
    padding-top: 72px;
    margin: 20px;
    font-family: Arial, sans-serif;
}
.background01{
    display: grid;
    grid-template-rows: 1fr;
    border: 1px solid black;
    opacity: 0.9;
    text-align: left;
    padding: 50px;
    border-radius: 30px;
    width: auto;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 63px 109px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #007BFF;
    color: white;
}

.tableRow:nth-child(even) {
    background-color: #f2f2f2;
}

.tableRow:hover {
    background-color: #ddd;
}

.tableRow a {
    color: black;
    text-decoration: none;
}

.tableRow a:hover {
    color: #007BFF;
}

.headerTitle {
    margin-bottom: 15px;
} */

/* end of the page  */

/* roomType detail page  */

/* .roomTypePageCon{
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-image: url("../uploads/66440.jpg");
    border: 15px solid #e0e0e0;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.roomTypedes{
    font-size: 24px;
    padding: 85px;
    display: grid;

} */

/* Title */
/* h2 {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
} */

/* Text */
/* p {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
} */

/* List */
/* ul {
    list-style-type: none;
    padding: 0;
} */

/* List Item */
/* li {
    margin-bottom: 10px;
} */

/* Image */
/* .mainImage {
    width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

} */

/* end of the page  */

/* RoomType Edit page  */
/* 

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

   }
   .roomTypeEdith1{
    padding: 20px 20px;
   }
   

   .wrapper {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #f2f2f2;
   }
   */

   form {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   }

   label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
   }
   
   input[type="text"],
   input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #f2f2f2;
    color: #333;
    margin-bottom: 20px;
   }
   input[type="text"]{
    background-color: white;
   }
  
   /* input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
   } */
   
   input[type="submit"]:hover {
    background-color: #555;
   }



/* end of the page  */
