<div>
    <div>
      <h3><%= user.name %></h3>
      <div>
        <img src="<%= user.avatar %>" alt="User Avatar">
      </div>
      <div>Email Address: <%= user.email %></div>
      <div>Phone Number: <%= user.phoneNum %></div>
    </div>
  
    <br>
  
  
  
  </div>