<h1>Add Rooms Type</h1>


<form method="POST" action="/roomType/add">
    <table>
    <div>
      <label>Room Price</label>
      <input type="number" name="roomPrice" class="form-control" />
    </div>
  
    <div>
      <label>Description</label>
      <textarea name="description" class="form-control"></textarea>
    </div>
  
    <div>
      <label>Room type</label>
      <input type="text" name="type" class="form-control"/>
    </div>

    <button type="submit"  class="btn btn-secondary btn-lg">Add New Room</button>

  </form>