<div class="form_content">
<div class="roomTypePageCon">
    <div class="roomTypedes">
<div class="roomName">
    <h1><%= roomType.type %> Room</h1>
</div>
<br>

<div calss="roomPrice">
    <h2>Room Price: </h2><h4>$<%= roomType.roomPrice %></h4>
</div>
<br>

<div class="roomDesc">
    <h2>Description: </h2><h4><%= roomType.description %></h4>
</div>
</div>
<br>

<div>
    <h2>Room Image</h2>

<img style="max-width: 50vw;" class="mainImage" src="<%= roomType.images %>" alt="Room Image">

</div>
</div>
</div>