<div>
    Room Name: <%= roomType.roomName %>
</div>

<div>
    Room Price: <%= roomType.roomPrice %>
</div>

<div>
    Description: <%= roomType.description %>
</div>

<div>
    <h2>Images</h2>
    <% if (roomType.images && roomType.images.length > 0) { %>
        <ul>
            <% roomType.images.forEach(image => { %>
                <li><img src="<%= image %>" alt="Room Image"></li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>No images available</p>
    <% } %>
</div>