<div>
    Room Name: <%= roomType.roomName %>
</div>

<div>
    Room Price: <%= roomType.roomPrice %>
</div>

<div>
    Description: <%= roomType.description %>
</div>

<div>
    <h2>Images</h2>
    
        <ul>
            <%= roomType.images %>
                <li><img src="../../public/uploads/images-1702370333400-xia_dynasty.png" alt="Room Image"></li>
            
</div>