<div>
    Room Name: <%= roomType.type %>
</div>

<div>
    Room Price: <%= roomType.roomPrice %>
</div>

<div>
    Description: <%= roomType.description %>
</div>



<div>
    <h2>Images</h2>
    <ul>
        <li><img src="<%= roomType.images %>" alt="Room Image"></li>
    </ul>
</div>
