<div>
    Room Name: <%= roomType.roomName %>
</div>

<div>
    Room Price: <%= roomType.roomPrice %>
</div>

<div>
    Description: <%= roomType.description %>
</div>

<form action="/profile" method="post" enctype="multipart/form-data">
    <input type="file" name="avatar" />
    <input type="hidden" name="id" value="<%= roomType._id %>"/>
    <input type="submit">
  </form>