<h1>Add Booking</h1>
<form method="POST" action="/booking/check">
    <div>
      <label>Check In Date</label>
      <input type="date" name="checkIn" class="form-control" required />
    </div>
    <div>
        <label>Check Out Date</label>
        <input type="date" name="checkOut" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-secondary btn-lg">Check Availability</button>

  </form>