<div class="form_content">
<h1>Booking Detail</h1>
<br>
<h2>Room Name: <%= bookings.RoomType.type%></h2>
<h3>Checking In At: <%= dayjs(bookings.checkIn).format('MM/DD/YYYY')  %></h3>
<h3>Checking Out At: <%= dayjs(bookings.checkOut).format('MM/DD/YYYY')  %></h3>
</div>