<h1>Make A Booking</h1>
<% bookings.forEach(function(booking){ %>
  <p>Type: <%= booking.RoomType.type %></p>
          <p>booking checkIn</p>
          <p><%= booking.checkIn %></p>
          <p>booking checkOut</p>
          <p><%= booking.checkOut %></p>
  <hr>
  <% }) %>