<h1>Add Hotel</h1>
<form method="POST" action="/hotel/add">
    <div>
        <label>Hotel Address</label>
        <input type="text" name="address" class="form-control">
    </div>
    <div>
        <label>Hotel Name</label>
        <input type="text" name="hotelName" class="form-control">
    </div>
    <div>
        <label>Hotel Phone Number</label>
        <input type="text" name="phoneNum" class="form-control">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Create Hotel</button>
</form>