<div>
    <div>
        <h2><%= hotel.hotelName%></h2>
    </div>
    <div>
        <h3>Hotel Address</h3>
        <p><%= hotel.address%></p>
    </div>
    <div>
        <h3>Hotel PHone Number</h3>
        <p><%= hotel.phoneNum%></p>
    </div>
</div>