
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="hotel-info">

    <% hotels.forEach(function(hotel){ %>
        <h1>Welcome to The <%= hotel.hotelName %></h1>
                <h2>Hotel Address</h2>
                <h3><%= hotel.address %></h3>
                <h2>Hotel Phone Number</h2>
                <h3><%= hotel.phoneNum %></h3>
        <% }) %>
    </div>

    <style>

    .hotel-info{
        
    margin-top: 20px;
    text-align: center;
    }
    </style>
    
</body>
</html>

