<h1>Hotel</h1>
<table class="table table-striped">
    <tr>
        <th>Hotel Name</th>
        <th>Hotel Address</th>
        <th>Hotel Phone Number</th>
    </tr>
    <% hotels.forEach(function(hotel){ %>
    <tr>
        <td><%= hotel.hotelName %></td>
        <td><%= hotel.address %></td>
        <td><%= hotel.phoneNum %></td>
    </tr>
    <% }) %>
</table>