<% hotels.forEach(function(hotel){ %>
<h1>Welcome to The <%= hotel.hotelName %></h1>
        <h2>Hotel Address</h2>
        <h3><%= hotel.address %></h3>
        <h2>Hotel Phone Number</h2>
        <h3><%= hotel.phoneNum %></h3>
<% }) %>