<% hotels.forEach(function(hotel){ %>
<div class="hotel">
    <div class="d-flex hero text-center">
    <h1>Welcome To The <%= hotel.hotelName %></h1>
    <a class="btn btn-primary btn-lg" href="/booking/check">Book a Room!</a>
    </div>
</div>
<div class="hotel_info">
    <div class="d-flex justify-content-evenly">
    <h3 class="d-inline">Hotel Phone Number: <%= hotel.phoneNum %></h3>
    <br>
    <h3 class="d-inline">Hotel Address: <%= hotel.address %></h3>
    </div>
</div>
<% }) %>
